body {
  font-size: 120%;
  font-family: 'Roboto', sans-serif;
}

button, input {
  margin-top: 20px;
  font-size: 88%;
  font-family: 'Roboto', sans-serif;
  border-color: rgb(216, 213, 213);
  padding: 12px;
  border-radius: 10px;
}
#add-btn {
  background-color:rgb(128, 128, 143);
  color: white;
}
#sub-btn {
  background-color: rgb(128, 128, 143);
  color: white;
}

table {
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 10px;
}

th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
td {
  text-align: left;
  padding: 8px;
}


tr:nth-child(even) {
  background-color: #f1f3fd;
}

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  max-width: 825px;
  text-align: center;
}

.total {
  font-size: 150%;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
  color: rgb(67, 69, 78);
}

.form {
  margin-top: 25px;
  width: 100%;
  border-radius: 10px;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}
